<div class="panel with-nav-tabs panel-default">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#chords" data-target="#chords" data-toggle="tab">chords</a></li>
      <% @scales.each do |scale_name| %>
        <li><a href="#<%= scale_name %>" data-target="#<%= scale_name %>" data-toggle="tab"><%= scale_name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="panel-body">
    <div class="tab-content">

      <div class="tab-pane active" id="chords">
        <h3><%= @chord_views[:all_chords][:title] %></h3>
        <hr>
        <div class="row">
          <%= render partial: "chords", locals: { chords: @chord_views[:all_chords][:data][:chords] } %>
        </div>
      </div>
      <% @scales.each do |scale_name| %>
        <%= render partial: "scale_tab_pane", locals: { name: scale_name, chord_groups: @chord_views["#{scale_name}_key_chords".to_sym], note: @note } %>
      <% end %>
    </div>
  </div>
</div>