<h1>Note:</h1>

<blockquote>Display Name: <%= @note.display_name %></blockquote>
<blockquote>Name: <%= @note.name %></blockquote>
<blockquote>Letter: <%= @note.letter %></blockquote>
<blockquote>Flat?: <%= @note.flat %></blockquote>
<blockquote>Sharp?: <%= @note.sharp %></blockquote>
<blockquote>Double Flat?: <%= @note.double_flat %></blockquote>
<blockquote>Double Sharp?: <%= @note.double_sharp %></blockquote>
<blockquote>Value: <%= @note.value %></blockquote>