<!DOCTYPE html>
<html>
<head>
  <title>TopShelf Strings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="app_container" class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="row">
          <div class="col-xs-4 col-md-3">
            <h3 class="title">TopShelf<br>Strings</h3>
            <nav>
              <ul class="nav nav-pills">
                <li class="nav-item instrument_select">
                  <%= form_tag({}, {:method => :get}) do %>
                      <%= select_tag :instrument_id, options_for_select(@instrument_options, @instrument.id), :onchange => "this.form.submit();" %>
                  <% end %>
                </li>
              </ul>
            </nav>
            <br>
          </div>
          <div class="col-xs-8 col-md-9 nav_container">
            <br>
            <% @notes_for_nav.each_slice(11).to_a.each do |notes| %>
              <nav>
              <ul class="nav nav-pills notes_nav">
                <% notes.each do |note| %>
                    <li class="nav-item">
                      <a class="nav-link" href="<%= note_path(note) %>"><%= note.display_name %></a>
                    </li>
                <% end %>
              </ul>
              </nav>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
